<p>Rozwiązaliśmy już nasze problemy z pocztami wp.pl oraz onet.pl. Teraz możesz za ich pomocą rejestrować się na portalu <a href="http://konsultacje.jastrzebie.pl/">konsultacje.jastrzebie.pl</a>.</p>
<p>Aby otrzymać informacje potrzebne do potwierdzenia konta kliknij link poniżej</p>

<p><%= link_to 'Wyślij ponownie potwierdzenie na adres email', 'http://konsultacje.jastrzebie.pl/users/confirmation/new' %></p>

<p>Przepraszamy za utrudnienia!</p>
