<div class="post reply">
  <img src="<%= subcomment.user.image %>" class="avatar" alt="avatar" />
  <div class="content">
    <span><strong><%= subcomment.user.name %></strong> - <%= time_ago_in_words(subcomment.created_at) %> temu</span>
    <p><%= raw(h(subcomment.content).gsub(/\r/, '').gsub(/\n/, '<br>')) %></p>
  </div>
</div>