<section class="mainPage" id="about">
  <div class="pagewidth">
    <h1 class="">Zaproszenie od Anny Hetman</h1>
    <h2><img src="<%= asset_path('index/prezydent.jpg') %>" alt="zdjecie prezydenta"/>Szanowni Państwo,<br/>
      Zapraszam Was do korzystania z platformy konsultacji społecznych. To miejsce, gdzie możecie Państwo zapoznać się z projektami i opisami ważnych przedsięwzięć podejmowanych przez nasze miasto oraz podzielić się swoimi opiniami na ich temat. Pomysły zebrane na etapie planowania, pozwalają lepiej dopasować projekt do potrzeb mieszkańców, a co za tym idzie efektywniej wprowadzić go w życie. Z wielu zalet ma jeszcze tę jedną, która sprawia, że każdy z nas może realnie wpływać na decyzje podejmowanie w mieście.</h2>
  </div>
</section>
<section class="mainPage gray">
  <div class="pagewidth">
    <h1 class="">O serwisie</h1>
    <h2><!--<img src="img/index/cityIcon.png" alt="city icon"/>-->Celem platformy jest poszerzenie możliwości dialogu z mieszkańcami na temat projektów i przedsięwzięć realizowanych w naszym mieście. Platforma Konsultacji Społecznych to miejsce, w którym mieszkańcy mogą zapoznać się z projektami i opisami ważnych przedsięwzięć podejmowanych przez Urząd Miasta Jastrzębie-Zdrój oraz wypowiedzieć się na ich temat. Tematy, co do których zbieramy opinie mieszkańców, pojawiają się w postaci moderowanych wątków. Platforma jest administrowana przez pracowników Urzędu Miasta Jastrzębie-Zdrój. Przed rozpoczęciem korzystania z narzędzi Platformy wymagane jest zapoznanie się z regulaminem. Podczas korzystania z platformy należy pamiętać, że posty są dodawane po zaakceptowaniu przez moderatora danego wątku. Trzeba również pamiętać, iż Platforma Konsultacji Społecznych służy do zbierania opinii mieszkańców w zakresie opublikowanych projektów. Do składania skarg i wniosków służy odrębna procedura (<a href="http://www.jastrzebie.pl/informator/wirtualne-biuro/dokument/id/udzielanie-odpowiedzi-na-skargi-i-wnioski/">link</a>). Platforma ma ułatwiać urzędnikom podejmowanie decyzji w zgodzie z potrzebami jastrzębian. Zanim wyślesz swoją wiadomość przeczytaj ją dokładnie i sprawdź czy odnosi się do konsultowanego temtu. Ułatwisz w ten sposób wyszukiwanie informacji innym użytkownikom. </h2>
  </div>
</section>
<section class="mainPage">
  <div class="pagewidth">
    <h1 class="textCenter">Skontaktuj się z nami!</h1>
    <ul class="textCenter">
      <li>Urząd Miasta Jastrzębie-Zdrój</li>
      <li>al.J.Piłsudskiego 60</li>
      <li>44-335 Jastrzębie-Zdrój</li>
      <br/>
      <li><a href="mailto:konsultacje@um.jastrzebie.pl">konsultacje@um.jastrzebie.pl</a></li>
    </ul>
  </div>
</section>