<section class="mainPage" id="about">
  <div class="pagewidth">
    <h1 class="">Zaproszenie Prezydenta Miasta Anny Hetman</h1>
    <h2><img src="<%= asset_path('index/prezydent.jpg') %>" alt="zdjecie prezydenta"/>Drodzy jastrzębianie,<br/>
      serwis konsultacyjny Urzędu Miasta Jastrzębia-Zdroju ma na celu bieżący dialog z mieszkańcami. Chcemy zapoznawać Państwa z planowanymi inwestycjami i projektami, ale przede wszystkim zachęcić do współdecydowaniu o losach miasta. Państwa zaangażowanie, szeroko pojęty dialog społeczny, któremu sprzyja wyrażanie własnej opinii, poglądów, dzielenie się swoimi uwagami i rozwiązaniami umożliwi nam poznanie Państwa stanowiska jeszcze na etapie planowania. To pozwoli na wybranie najlepszych rozwiązań i efektywne wprowadzenie ich w życie.
      Twórzmy razem nasze miasto!</h2>
  </div>
</section>
<section class="mainPage gray">
  <div class="pagewidth">
    <h1 class="">O serwisie</h1>
    <h2>Celem tego serwisu jest promowanie dialogu społecznego, zwiększenie wiedzy i umiejętności mieszkańców w tym zakresie. Projekt ma zwrócić uwagę i uświadomić Jastrzębianom rolę aktywności społecznej w budowaniu społeczeństwa obywatelskiego, prowadzić do zmiany świadomości mieszkańców i pokazać, że mogą współdecydować o kształcie miasta, a co za tym idzie – jego i swojej przyszłości. Chcemy informować Państwa o inwestycjach realizowanych w mieście oraz zapoznać się z uwagami na ich temat. Tematy, co do których zbieramy opinie mieszkańców, pojawiać się będą  w postaci moderowanych wątków. Serwis jest administrowany przez pracowników Urzędu Miasta Jastrzębie-Zdrój. Przed rozpoczęciem korzystania z narzędzi dostępnych w ramach serwisu wymagane jest zapoznanie się z regulaminem. Zanim wyślesz swoją wiadomość przeczytaj ją dokładnie i sprawdź, czy odnosi się do konsultowanego tematu. Ułatwisz w ten sposób wyszukiwanie informacji innym użytkownikom. Należy pamiętać, że posty są dodawane po zaakceptowaniu przez moderatora danego wątku.<br/>
      UWAGA! Serwis konsultacyjny ma na celu poznanie opinii mieszkańców na różne tematy związane z życiem miasta. Do składania skarg i wniosków służy odrębna procedura (<a href="http://bip.jastrzebie.pl/contents/content/3970/24464">link</a>). </h2>
  </div>
</section>
<section class="mainPage">
  <div class="pagewidth">
    <h1 class="textCenter">Skontaktuj się z nami!</h1>
    <ul class="textCenter">
      <li>Urząd Miasta Jastrzębie-Zdrój</li>
      <li>al.J.Piłsudskiego 60</li>
      <li>44-335 Jastrzębie-Zdrój</li>
      <br/>
      <li><a href="mailto:konsultacje@um.jastrzebie.pl">konsultacje@um.jastrzebie.pl</a></li>
    </ul>
  </div>
</section>