<section id="about">
  <div class="pagewidth">
    <h1>Zmieniaj miasto z nami!</h1>
    <h2><%= image_tag "index/cityIcon.png", alt: "city icon" %>Standardowym sposobem wypełniania wersji testowych stron internetowych jest użycie zlepku przypadkowych łacińskich słów znanego jako "lorem ipsum". Niestety dla stron po polsku to fatalne rozwiązanie. Dobór słów i stylistyka tekstu ma duży wpływ na odbiór charakteru całej strony — zwłaszcza tego, czy jest bardziej oficjalna, czy bezpośrednia. Łacina „oczyszcza” stronę, nadając jej bardziej dostojny charakter, nie zawsze zgodnie z przeznaczeniem.</h2>
  </div>
</section>