/* CSS Document */

body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

*{
  color: #555555;
  font-size: 1em;
  font-weight: 400;
  /*transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;*/
}

a{
  text-decoration:none;
}

i{
  font-style: italic;
}

b, strong{
  font-weight:600;
}

::selection{
  background: #1F7E4E;
  color: #ffffff;
}

::-moz-selection{
  background: #1F7E4E;
  color: #ffffff;
}

.pagewidth{
  margin: 0 auto;
  width: 1200px;
}

h2{
  font-weight: 500;
  font-size: 3em;
  color: #02753C;
  padding: 60px 0 0;
  line-height: 1.2em;
}

h3{
  color: #636363;
  font-size: 1.5em;
  line-height: 1.550em;
}

.textCenter{
  text-align: center;
}

input,
input:hover,
input:focus,
textarea,
textarea:hover,
textarea:focus{
  border: 0;
  outline: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

input::-moz-focus-inner{
  border: 0;
  padding: 0;
}

textarea::-moz-focus-inner{
  border: 0;
  padding: 0;
}

/* header */

header{
  background: asset_url("header/background.jpg") no-repeat center top;
  position: relative;
  width: 100%;
  background-position: 50% 0;
  min-width: 1200px;
  background-size: cover;
}

header:not(.fullSize){
  height: 445px;
}

header.fullSize{

}

header .pagewidth #logoJZ{
  float: left;
  margin-top: 90px;
}

header .pagewidth #logoKJZ{
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -169px;
}

header .pagewidth #headerRight{
  float: right;
  width: 250px;
}

header .pagewidth #fontsTools{
  padding: 9px;
  float: right;
  background: #0B7A42;
  margin-right: 0px;
}

header .pagewidth #fontsTools li{
  display: inline-block;
}

header .pagewidth #fontsTools li a{
  width: 26px;
  padding: 6px 0;
  background: white;
  font-size: 0.875em;
  color: #0B7A42;
  text-align: center;
  display: block;
  margin: 0 5px;
  cursor: pointer;
}

header .pagewidth #fontsTools li a:hover,
header .pagewidth #fontsTools li a:focus,
.cookiesEU-close:hover,
.cookiesEU-close:focus{
  -webkit-box-shadow: 0px 0px 0px 1px rgba(24,22,23,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(24,22,23,1);
  box-shadow: 0px 0px 0px 1px rgba(24,22,23,1);
}

header .pagewidth #search{
  margin-top: 15px;
  float: right;
}

header .pagewidth #search input[type="search"],
#newsletter .pagewidth form input[type="text"],
.accountForm .pagewidth form input[type="email"] ,
.accountForm .pagewidth form input[type="password"],
.accountForm .pagewidth form input[type="text"]{
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background: white;
  float: left;
  width: 216px;
  padding: 16px 22px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(203,203,203,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(203,203,203,1);
  box-shadow: inset 0px 0px 0px 1px rgba(203,203,203,1);
}

#newsletter .pagewidth form input[type="text"]:hover,
#newsletter .pagewidth form input[type="text"]:focus,
header .pagewidth #search input[type="search"]:hover,
header .pagewidth #search input[type="search"]:focus,
.accountForm .pagewidth form input[type="email"]:hover,
.accountForm .pagewidth form input[type="email"]:focus,
.accountForm .pagewidth form input[type="password"]:hover,
.accountForm .pagewidth form input[type="password"]:focus,
.accountForm .pagewidth form input[type="text"]:hover,
.accountForm .pagewidth form input[type="text"]:focus{
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(5,168,87,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(5,168,87,1);
  box-shadow: inset 0px 0px 0px 1px rgba(5,168,87,1);
}

header .pagewidth #search input[type="submit"],
#newsletter .pagewidth form input[type="submit"],
.accountForm .pagewidth form input[type="submit"]{
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  padding: 16px 22px 16px 22px;
  cursor: pointer;
  float: left;
  background-color: #0B7A42;
  color: white;
}

header .pagewidth #search input[type="submit"]{
  background-image: asset_url("header/searchIcon.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -64px;
  width: 65px;
}

header .pagewidth #search input[type="submit"]:hover,
header .pagewidth #search input[type="submit"]:focus,
#content .pagewidth article .googleSheets:hover,
#content .pagewidth article .googleSheets:focus,
#content .pagewidth article #comment .post.add input[type="button"]:hover,
#content .pagewidth article #comment .post.add input[type="button"]:focus,
#newsletter .pagewidth form input[type="submit"]:hover,
#newsletter .pagewidth form input[type="submit"]:focus,
#content .pagewidth article #comment .signInFacebookButton:hover,
#content .pagewidth article #comment .signInFacebookButton:focus,
.accountForm .pagewidth form input[type="submit"]:hover,
.accountForm .pagewidth form input[type="submit"]:focus{
  background-color: #6D6D6D;
}

header .pagewidth .buttonHeader{
  float: right;
  padding: 21px 26px 16px;
  margin-top: 15px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 165px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  color: white;
}

header .pagewidth #signIn{
  background-color: #0B7A42;
}

header .pagewidth #signOut{
  background-color: #0B7A42;
}

header .pagewidth #register{
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
}

header .pagewidth .buttonHeader:hover,
header .pagewidth .buttonHeader:focus{
  background: white!important;
  color: #0B7A42;
}

header .pagewidth nav{
  text-align: center;
  padding-top: 60px;
  clear: both;
}

header .pagewidth nav ul li{
  display: inline-block;
  padding: 0px 18px;
}

header .pagewidth nav ul li a{
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 165px;
  background-color: #0B7A42;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  color: white;
  padding: 21px 22px 16px;
}

header .pagewidth nav ul li:nth-child(2) a{
  background-color: #008442;
}

header .pagewidth nav ul li:nth-child(3) a{
  background-color: #006130;
}

header .pagewidth nav ul li a:hover,
header .pagewidth nav ul li a:focus,
header .pagewidth nav ul li a.active,
header .pagewidth #signIn:hover,
header .pagewidth #signIn:focus{
  background-color: #707070;
}

header .pagewidth h2{ /* h1 */
  color: #f2ede1;
  text-transform: uppercase;
  font-size: 2.750em;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4)
}

header .pagewidth h3{ /* h2 */
  color: #FBF8F8;
  opacity: 0.9;
  font-size: 1.375em;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 300;
  line-height: 1.875em;
  text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4)
}

header .pagewidth .headerMoreButton::before{
  background-position: 0px 0px;
  content: " ";
  display: inline-block;
  vertical-align: top;
  background: asset_url("header/mouseIcon.png") no-repeat;
  width: 18px;
  height: 32px;
  margin: -11px 20px 0 0;
}

header .pagewidth .headerMoreButton{
  color: #f2ede1;
  vertical-align: top;
  margin-top: 48px;
  text-align: center;
  display: inline-block;
  width: 100%;
  letter-spacing: 2px;
  text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-bottom: 45px;
}

header .pagewidth .headerMoreButton:hover,
header .pagewidth .headerMoreButton:focus{
  opacity: 0.85;
}

#newsletter{
  padding: 70px 0;
  background: #ebebeb;
  overflow: hidden;
}

#newsletter .pagewidth form{
  width: 600px;
  margin: 40px auto 0;
}

#newsletter .pagewidth form input[type="text"]{
  width: 464px;
}

#newsletter .pagewidth form input[type="submit"]{
  width: 200px;
  margin-left: -64px;
}

footer{
  background: #d5d5d5;
  padding-bottom: 30px;
  overflow:hidden;
}

footer .pagewidth #copyright{
  width: 33%;
  float: left;
}
footer .pagewidth #socialMedia{
  width: 20%;
  float: left;
}
footer .pagewidth #footerNav{
  width: 46%;
  float: left;
}

footer .pagewidth #copyright{
  margin-top: 32px;
}

footer .pagewidth #copyright p{
  padding-top: 6px;
}

footer .pagewidth #copyright p a b:hover,
footer .pagewidth #copyright p a b:focus,
footer .pagewidth #footerNav li:hover,
footer .pagewidth #footerNav li:focus{
  text-decoration: underline;
}

footer .pagewidth #socialMedia{
  text-align: center;
  margin-top: 40px;
}

footer .pagewidth #socialMedia li{
  display: inline-block;
}

footer .pagewidth #socialMedia li a{
  width: 28px;
  height: 27px;
  display: inline-block;
  background: asset_url("socialIcon.png") no-repeat;
  margin-top: 3px;
  margin: 0 2px;
}

footer .pagewidth #socialMedia li .facebook{
  background-position: 0px 0px;
}

footer .pagewidth #socialMedia li .twitter{
  background-position: -27px 0px;
}

footer .pagewidth #socialMedia li .google{
  background-position: -55px 0px;
}

footer .pagewidth #socialMedia li .youtube{
  background-position: -82px 0px;
}

footer .pagewidth #copyright p a strong{
  color: #0B7A42;
}

footer .pagewidth #socialMedia li a:hover,
footer .pagewidth #socialMedia li a:focus{
  opacity: 0.8;
}

footer .pagewidth #footerNav{
  margin-top: 48px;
}

footer .pagewidth #footerNav li{
  display: inline-block;
  margin: 0 6px;
  float: right;
}

/* article */

#content .pagewidth article{
  width: 760px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

#content .pagewidth article h2 .completedConsultationBox{ /* tu bylo h1 */
  color: white;
  padding: 10px 15px;
  display: inline-block;
  background: #0B7A42;
  font-size: 0.43em;
  vertical-align: top;
  line-height: 1.2em;
  margin: 8px 12px;
}

#content .pagewidth article .articleInfo li{
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}

#content .pagewidth article #articleInfo li:nht-child(2),
#content .pagewidth article #Icon.articleInfo li:nht-child(3){
  margin-left: 30px;
}

#content .pagewidth article .articleInfo li .articleIcon{
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  background: asset_url("post/postIcon.png") no-repeat;
  margin-top: 3px;
}

#content .pagewidth article .articleInfo li .clock{
  background-position: 0px 0px;
}

#content .pagewidth article .articleInfo li .comment{
  background-position: -16px 0px;
}

#content .pagewidth article .articleInfo li .share{
  background-position: -32px 0px;
}

#content .pagewidth article .articleInfo li span{
  display: inline-block;
  margin: 0 25px 0 15px;
  vertical-align: top;
}

#content .pagewidth article p,
#content .pagewidth article h3,
#content .pagewidth article ul,
#content .pagewidth article .googleSheets,
#content .pagewidth article #comment h4{
  font-size: 1.125em;
  margin-top: 32px;
  line-height: 1.375em;
}

#content .pagewidth article h3{
  font-size: 1.500em;
}

#content .pagewidth article ul li{
  list-style-type: square;
  margin-left: 20px;
}

#content .pagewidth article ul li a:hover{
  text-decoration: underline;
}

#content .pagewidth article .googleSheets{
  display: block;
  background-image: asset_url("post/googleSheets.png");
  background-repeat: no-repeat;
  background-position: 675px 24px;
  width: calc(100% - 80px);
  padding: 30px 40px 25px 40px;
  background-color: #0B7A42;
  font-size: 1.500em;
  color: white;
  font-weight: 300;

}

#content .pagewidth article #comment{
  padding-bottom: 50px;
  overflow: hidden;
}

#content .pagewidth article #comment h4{
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 3px solid #0B7A42;
  font-weight: 500;
}

#content .pagewidth article #comment .signInFacebookButton{
  margin: 12px 0 0 0!important;
}

#content .pagewidth article #comment .post{
  padding-top: 12px;
  overflow: hidden;
}

#content .pagewidth article #comment .post .avatar{
  float: left;
  overflow: hidden;
}

#content .pagewidth article #comment .post .content{
  float: right;
  width: 700px;
  overflow: hidden;
}

#content .pagewidth article #comment .post .content span{
  padding-top: 6px;
  display: block;
}

#content .pagewidth article #comment .post.adminPost .content span strong{
  color: #0B7A42;
}

#content .pagewidth article #comment .post.adminPost > .content span:after{
  content: 'admin';
  padding: 4px 15px;
  background: #0B7A42;
  margin: 0 5px;
  font-size: 0.875em;
  color: white;
  vertical-align: top;
}

#content .pagewidth article #comment .post .content p{
  margin-top: 4px;
  font-size: 1.000em;
}

#content .pagewidth article #comment .post .content .replyButton,
#content .pagewidth article #comment .post .content .showReplyButton,
#content .pagewidth article #comment .post .content .reportButton{
  font-size: 0.875em;
  opacity: 0.7;
  padding: 3px 10px;
  border: 1px solid #c7c7c7;
  margin-top: 3px;
  display: inline-block;
  background: white;
  outline: none;
  cursor: pointer;
  color: #6B6B6B;
}

#content .pagewidth article #comment .post .content .replyButton:hover,
#content .pagewidth article #comment .post .content .replyButton:focus,
#content .pagewidth article #comment .post .content .showReplyButton:hover,
#content .pagewidth article #comment .post .content .showReplyButton:focus,
#content .pagewidth article #comment .post .content .reportButton:hover,
#content .pagewidth article #comment .post .content .reportButton:focus{
  opacity: 1;
}

.reportBox,
.signInBox{
  position: absolute;
  width: 280px;
  color: white;
  text-align: center;
  background-color: #0B7A42;
  padding: 20px 0;
  margin-top: 22px;
  clear: both;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 10000px 10000px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 10000px 10000px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10000px 10000px rgba(0,0,0,0.4);
}

.signInBox{
  margin-left: -40px;
  margin-top: -2px;
}

.reportBox a,
.signInBox a{
  padding: 2px 10px;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;
  color: #0B7A42;
  background: white;
  margin-left: 10px;
  cursor: pointer;
}

.signInBox a{
  margin-top: 5px;
}

.reportBox a:hover,
.signInBox a:hover,
.signInBox button:hover{
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  color: #FFFFFF;
}

.reportBox a.no:hover,
.alert.error{
  background: rgb(240, 77, 77);
}

.reportBox a.yes:hover,
.signInBox a:hover,
.signInBox button:hover{
  background: rgb(78, 78, 78);
}

#content .pagewidth article #comment .post.reply{
  clear: both;
  margin-left: 62px;
}

#content .pagewidth article #comment .post .post.reply .content{
  width: 638px;
}

#content .pagewidth article #comment .post.add textarea{
  width: 79.7%;
  padding: 15px 20px 11px;
  border: 2px solid #0B7A42;
  float: left;
  resize: vertical;

}

#content .pagewidth article #comment .post .post.add textarea{
  width: 79%;
}

#content .pagewidth article #comment .post.add input[type="submit"]{
  width: 14%;
  padding: 28px 20px 23px;
  background: #0B7A42;
  float: left;
  color: white;
  cursor: pointer;
}

#content .pagewidth aside{
  display: inline-block;
  vertical-align: top;
  margin-left: 70px;
  padding-top: 60px;
  width: 360px;
}

#content .pagewidth aside .articleMoreButton,
#content .pagewidth article #comment .signInFacebookButton{
  width: 100%;
  padding: 20px 0;
  color: white;
  background: #0B7A42;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 2px;
}

/* article list */

#content .pagewidth #articleListMainPage{
  padding: 50px 0;
  overflow: hidden;
}

#content .pagewidth .articleBox{
  display: block;
  float: left;
  background: #f6f6f6;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(203,203,203,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(203,203,203,1);
  box-shadow: inset 0px 0px 0px 1px rgba(203,203,203,1);
  padding: 40px 55px 30px;
  margin: 2px;
}

#content .pagewidth .articleBox:hover,
#content .pagewidth .articleBox:focus{
  background: #0B7A42;
}

#content .pagewidth .articleBox.two{
  width: 486px;
  height: 226px;
}

#content .pagewidth .articleBox.post{
  width: 250px;

}

#content .pagewidth .articleBox.post h3{
  font-size: 1.313em;
  padding: 5px 0 12px;
}

#content .pagewidth .articleBox span{
  display: inline-block;
  width: 100%;
  font-size: 1.125em;
}

#content .pagewidth .articleBox:hover span,
#content .pagewidth .articleBox:focus span,
#content .pagewidth .articleBox:hover h3,
#content .pagewidth .articleBox:focus h3,
#content .pagewidth .articleBox:hover .articleIconCloud,
#content .pagewidth .articleBox:focus .articleIconCloud{
  color: white;
}


#content .pagewidth .articleBox h3{
  font-weight: 600;
  font-size: 1.875em;
  line-height: 1.545em;
  color: #0B7A42;
  border-bottom: 1px solid #dbdbdb;
  padding: 5px 0 20px;
}

#content .pagewidth .articleBox .articleIconCloud::before{
  background-position: 0px 0px;
  content: " ";
  display: inline-block;
  vertical-align: top;
  background: asset_url("post/comment.png") no-repeat;
  width: 24px;
  height: 24px;
  margin: -5px 10px 0 0;
}

#content .pagewidth .articleBox .articleIconCloud{
  color: #0B7A42;
  width: initial;
  vertical-align: top;
  margin-top: 28px;
  text-align: center;
}

#content .pagewidth .articleBox:hover .articleIconCloud::before,
#content .pagewidth .articleBox:focus .articleIconCloud::before{
  background-position: -24px 0px;
}

/* index */

.mainPage.gray{
  background: #ebebeb;
}

.mainPage .pagewidth ul{
  color: #636363;
  font-size: 1.5em;
  line-height: 1.550em;
}

.mainPage .pagewidth h3,
.mainPage .pagewidth ul{
  padding: 32px 0 60px;
}

.mainPage .pagewidth a,
.accountForm .pagewidth a{
  color: #0B7A42;
}

.mainPage .pagewidth a:hover,
.accountForm .pagewidth a:hover{
  text-decoration: underline;
}

.mainPage .pagewidth h3 img{
  float: right;
  padding: 30px 0 30px 70px;
}

/* account form */

.accountForm{
  padding: 0 0 60px;
}

.accountForm .pagewidth .main{
  width: 60%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.accountForm .pagewidth .aside{
  display: inline-block;
  vertical-align: top;
  width: 38%;
}

.accountForm .pagewidth .aside img{
  margin: 30px auto 0;
  display: block;
}

.accountForm .pagewidth .aside img.marginTop{
  margin: 70px auto 0;
}

.accountForm .pagewidth .aside img.marginTopOff{
  margin: 0 auto 0;
}

.accountForm .pagewidth .aside img.marginTopMinus{
  margin: -30px auto 0;
}

.accountForm .pagewidth form{
  width: 100%;
  margin: 10px 0;
}

.accountForm .pagewidth form input[type="email"] ,
.accountForm .pagewidth form input[type="password"],
.accountForm .pagewidth form input[type="text"],
.accountForm .pagewidth form input[type="submit"] {
  width: 100%;
  margin: 5px 0;
}

.accountForm .pagewidth form .fieldCheckBox{
  margin: 10px 0;
  display: inline-block;
}

.accountForm .pagewidth form .fieldCheckBox label,
.accountForm .pagewidth form .fieldCheckBox input[type="checkbox"]{
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.accountForm .pagewidth form .fieldCheckBox input[type="checkbox"]{
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.accountForm .pagewidth a{
  font-weight: 500;
  line-height: 1.550em;
  margin-left: 10px;
  display: block;
}

/* cookie */

#cookiesEU-box{
  background: #0B7A42;
  overflow: hidden;
  text-align: center;
}

.cookiesEU-inner{
  padding: 4px 12px;
  /*display: inline-block;*/;
}

.cookiesEU-text{
  text-align: center;
  color: white;
  margin-top: 6px;
  font-size: 0.9em;
  display: inline-block;
}

.cookiesEU-text a{
  color: white;
  text-decoration: underline;
}

.cookiesEU-close{
  padding: 2px 10px;
  font-size: 0.9em;
  display: inline-block;
  color: #0B7A42;
  background: white;
  margin-left: 10px;
}

/* loading */

.loadingBox,
.alert {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  clear: both;
  display: inline-block;
}

.loadingBox,
.alert.margin-top{
  margin-top:12px;
}

.loadingBox,
.alert.success{
  background: #0B7A42;
}

.loadingBox.fullSize,
.alert.fullSize{
  position: fixed;
  top: 50%;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 10000px 10000px rgba(0,0,0,0.4)!important;
  -moz-box-shadow: 0px 0px 10000px 10000px rgba(0,0,0,0.4)!important;
  box-shadow: 0px 0px 10000px 10000px rgba(0,0,0,0.4)!important;
}

.loadingBox span{
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
}

.loadingBox > div {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #fff;

  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loadingBox .one {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loadingBox .two {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

/* alert */

.alert.margin-bottom{
  margin-top:12px;
}

.alert.margin-tb{
  margin:12px 0;
}

.alert span{
  color: white;
  padding: 10px;
}

.alert.right{
  text-align: right;
}

.alert.left{
  text-align: left;
}

.alert.justify{
  text-align: justify;
}

.alert.info{
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(24,22,23,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(24,22,23,1);
  box-shadow: inset 0px 0px 0px 1px rgba(24,22,23,1);
  background: white;
}

.alert.info span{
  color: #6D6D6D;
}

.alert.fullSize button,
.signInBox button{
  padding: 2px 10px;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;
  color: #0B7A42;
  background: white;
  margin-left: 10px;
  cursor: pointer;
  border:0;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(5,168,87,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(5,168,87,1);
  box-shadow: inset 0px 0px 0px 1px rgba(5,168,87,1);
}

.alert.fullSize.error button{
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(203,203,203,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(203,203,203,1);
  box-shadow: inset 0px 0px 0px 1px rgba(203,203,203,1);
  color: rgb(240, 77, 77);
}

/* wcag */

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #6C6C6C;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #6C6C6C;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #6C6C6C;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #6C6C6C;
}

.navwcag {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.hiddenwcag {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.fontWBContrast  {
  background-color: #000 !important;
  color: #fff !important;
  border-width: 1px !important;
  border: #fff !important;
}
.sitemap {
  margin-left: 30px;
}

.siteMap .pagewidth h3,
.siteMap .pagewidth ul{
  padding: 0px 0 30px;
}

.sitemap ul {
  font-size: 1em !important;
}

body.black header{
  background-image: none!important;
  background: #000;
}

body.black input[type="submit"],
body.black header .pagewidth nav ul li a{
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
}

.youtubeiframe {
  float: left;
  margin: 0 40px 15px 0;
}