<p>Witaj <%= @resource.email %>!</p>

<p>Wygląda na to że chcesz zresetować swoje hasło. Kliknij na link poniżej aby to zrobić.</p>

<p><%= link_to 'Zresetuj hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeżeli nie żądałeś zmiany hasła zignoruj tego maila.</p>
<p>Twoje hasło nie zostanie zmienione dopóki nie wejdziesz na powyższego linka i nie założysz nowego hasła.</p>
